.element {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .element .div {
    background-color: #ffffff;
    height: 3138px;
    position: relative;
    width: 1728px;
  }
  
  .element .overlap {
    background-color: #2d0052;
    height: 63px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1728px;
  }
  
  .element .group {
    height: 27px;
    left: 676px;
    position: absolute;
    top: 18px;
    width: 380px;
  }
  
  .element .text-wrapper {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 3px;
    white-space: nowrap;
  }
  
  .element .text-wrapper-2 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 293px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 3px;
    white-space: nowrap;
  }
  
  .element .line {
    height: 27px;
    left: 267px;
    position: absolute;
    top: 0;
    width: 2px;
  }
  
  .element .ph-phone-call-light {
    height: 33px;
    left: 50px;
    position: absolute;
    top: 15px;
    width: 33px;
  }
  
  .element .text-wrapper-3 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 95px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
    white-space: nowrap;
  }
  
  .element .text-wrapper-4 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 25px;
    font-weight: 500;
    left: 1517px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    white-space: nowrap;
  }
  
  .element .text-wrapper-5 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 25px;
    font-weight: 500;
    left: 1612px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
    white-space: nowrap;
  }
  
  .element .img {
    height: 20px;
    left: 1596px;
    position: absolute;
    top: 21px;
    width: 2px;
  }
  
  .element .overlap-group {
    background-color: #2d0052;
    height: 87px;
    left: 0;
    position: absolute;
    top: 3051px;
    width: 1728px;
  }
  
  .element .p {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 26.4px;
    font-weight: 500;
    left: 700px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 27px;
    white-space: nowrap;
  }
  
  .element .text-wrapper-6 {
    color: #2d0052;
    font-family: "Roboto", Helvetica;
    font-size: 44.1px;
    font-weight: 600;
    left: 166px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 110px;
    white-space: nowrap;
  }
  
  .element .text-wrapper-7 {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 26.4px;
    font-weight: 400;
    left: 370px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 126px;
    white-space: nowrap;
  }
  
  .element .image {
    height: 63px;
    left: 95px;
    object-fit: cover;
    position: absolute;
    top: 105px;
    width: 63px;
  }
  
  .element .overlap-2 {
    height: 366px;
    left: 95px;
    position: absolute;
    top: 170px;
    width: 1564px;
  }
  
  .element .rectangle {
    background: linear-gradient(180deg, rgb(114, 134, 180) 0%, rgb(231, 148, 206) 100%);
    border-radius: 29px;
    height: 307px;
    left: 0;
    position: absolute;
    top: 59px;
    width: 1516px;
  }
  
  .element .image-removebg {
    height: 366px;
    left: 1032px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 532px;
  }
  
  .element .grab-upto-off-on {
    color: #2d0052;
    font-family: "Roboto", Helvetica;
    font-size: 68.6px;
    font-weight: 500;
    left: 92px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 87px;
  }
  
  .element .overlap-group-wrapper {
    height: 63px;
    left: 92px;
    position: absolute;
    top: 269px;
    width: 254px;
  }
  
  .element .div-wrapper {
    background-color: #2d0052;
    border-radius: 30px;
    height: 63px;
    position: relative;
    width: 252px;
  }
  
  .element .text-wrapper-8 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 27px;
    font-weight: 400;
    left: 72px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    white-space: nowrap;
  }
  
  .element .overlap-3 {
    background-color: #ffffff;
    border: 3px solid;
    border-color: #c7c7c7;
    border-radius: 48px;
    height: 90px;
    left: 95px;
    position: absolute;
    top: 582px;
    width: 1516px;
  }
  
  .element .text-wrapper-9 {
    color: #666666;
    font-family: "Roboto", Helvetica;
    font-size: 33.5px;
    font-weight: 400;
    left: 94px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 22px;
    white-space: nowrap;
  }
  
  .element .ion-search-outline {
    height: 47px;
    left: 37px;
    position: absolute;
    top: 19px;
    width: 47px;
  }
  
  .element .overlap-4 {
    background-color: #d9d9d9;
    border-radius: 34.15px;
    height: 52px;
    left: 272px;
    position: absolute;
    top: 739px;
    width: 250px;
  }
  
  .element .text-wrapper-10 {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 23.4px;
    font-weight: 500;
    left: 28px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 11px;
    width: 171px;
  }
  
  .element .vector {
    height: 10px;
    left: 206px;
    position: absolute;
    top: 24px;
    width: 16px;
  }
  
  .element .material-symbols {
    height: 49px;
    left: 95px;
    position: absolute;
    top: 739px;
    width: 49px;
  }
  
  .element .material-symbols-2 {
    height: 60px;
    left: 149px;
    position: absolute;
    top: 733px;
    width: 60px;
  }
  
  .element .overlap-5 {
    background-color: #d9d9d9;
    border-radius: 34.15px;
    height: 52px;
    left: 543px;
    position: absolute;
    top: 739px;
    width: 175px;
  }
  
  .element .text-wrapper-11 {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 23.4px;
    font-weight: 500;
    left: 30px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 11px;
    white-space: nowrap;
  }
  
  .element .vector-2 {
    height: 10px;
    left: 136px;
    position: absolute;
    top: 24px;
    width: 16px;
  }
  
  .element .overlap-6 {
    background-color: #d9d9d9;
    border-radius: 34.15px;
    height: 52px;
    left: 739px;
    position: absolute;
    top: 739px;
    width: 154px;
  }
  
  .element .text-wrapper-12 {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 23.4px;
    font-weight: 500;
    left: 31px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
    white-space: nowrap;
  }
  
  .element .vector-3 {
    height: 10px;
    left: 107px;
    position: absolute;
    top: 25px;
    width: 16px;
  }
  
  .element .overlap-7 {
    background-color: #d9d9d9;
    border-radius: 34.15px;
    height: 52px;
    left: 914px;
    position: absolute;
    top: 739px;
    width: 146px;
  }
  
  .element .text-wrapper-13 {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 23.4px;
    font-weight: 500;
    left: 34px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 11px;
    white-space: nowrap;
  }
  
  .element .vector-4 {
    height: 10px;
    left: 96px;
    position: absolute;
    top: 24px;
    width: 16px;
  }
  
  .element .overlap-8 {
    height: 348px;
    left: 95px;
    position: absolute;
    top: 885px;
    width: 348px;
  }
  
  .element .image-2 {
    height: 273px;
    left: 37px;
    object-fit: cover;
    position: absolute;
    top: 38px;
    width: 273px;
  }
  
  .element .rectangle-2 {
    background-color: #0065ff2b;
    height: 348px;
    left: 0;
    position: absolute;
    top: 0;
    width: 348px;
  }
  
  .element .image-wrapper {
    background-color: #d4e5ff;
    height: 348px;
    left: 498px;
    position: absolute;
    top: 885px;
    width: 348px;
  }
  
  .element .image-3 {
    height: 273px;
    left: 38px;
    object-fit: cover;
    position: absolute;
    top: 38px;
    width: 273px;
  }
  
  .element .img-wrapper {
    background-color: #d4e5ff;
    height: 348px;
    left: 901px;
    position: absolute;
    top: 885px;
    width: 348px;
  }
  
  .element .overlap-9 {
    background-color: #d4e5ff;
    height: 348px;
    left: 1304px;
    position: absolute;
    top: 885px;
    width: 348px;
  }
  
  .element .group-2 {
    height: 113px;
    left: 117px;
    position: absolute;
    top: 1250px;
    width: 296px;
  }
  
  .element .text-wrapper-14 {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 26.4px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .element .text-wrapper-15 {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 26.4px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 41px;
    white-space: nowrap;
  }
  
  .element .text-wrapper-16 {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 26.4px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 82px;
    white-space: nowrap;
  }
  
  .element .group-3 {
    height: 113px;
    left: 518px;
    position: absolute;
    top: 1250px;
    width: 331px;
  }
  
  .element .group-4 {
    height: 113px;
    left: 928px;
    position: absolute;
    top: 1250px;
    width: 298px;
  }
  
  .element .group-5 {
    height: 113px;
    left: 1328px;
    position: absolute;
    top: 1244px;
    width: 311px;
  }
  
  .element .overlap-10 {
    background-color: #0065ff2b;
    height: 348px;
    left: 95px;
    position: absolute;
    top: 1411px;
    width: 348px;
  }
  
  .element .image-4 {
    height: 273px;
    left: 30px;
    object-fit: cover;
    position: absolute;
    top: 38px;
    width: 273px;
  }
  
  .element .overlap-11 {
    background-color: #d4e5ff;
    height: 348px;
    left: 498px;
    position: absolute;
    top: 1411px;
    width: 348px;
  }
  
  .element .image-5 {
    height: 264px;
    left: 39px;
    object-fit: cover;
    position: absolute;
    top: 42px;
    width: 273px;
  }
  
  .element .overlap-12 {
    background-color: #d4e5ff;
    height: 348px;
    left: 901px;
    position: absolute;
    top: 1411px;
    width: 348px;
  }
  
  .element .overlap-13 {
    background-color: #d4e5ff;
    height: 348px;
    left: 1304px;
    position: absolute;
    top: 1411px;
    width: 348px;
  }
  
  .element .group-6 {
    height: 113px;
    left: 117px;
    position: absolute;
    top: 1776px;
    width: 298px;
  }
  
  .element .text-wrapper-17 {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 26.4px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .element .group-7 {
    height: 113px;
    left: 518px;
    position: absolute;
    top: 1776px;
    width: 319px;
  }
  
  .element .group-8 {
    height: 113px;
    left: 928px;
    position: absolute;
    top: 1776px;
    width: 318px;
  }
  
  .element .group-9 {
    height: 113px;
    left: 1328px;
    position: absolute;
    top: 1770px;
    width: 296px;
  }
  
  .element .overlap-14 {
    background-color: #0065ff2b;
    height: 348px;
    left: 95px;
    position: absolute;
    top: 1943px;
    width: 348px;
  }
  
  .element .overlap-15 {
    background-color: #d4e5ff;
    height: 348px;
    left: 498px;
    position: absolute;
    top: 1943px;
    width: 348px;
  }
  
  .element .overlap-16 {
    background-color: #d4e5ff;
    height: 348px;
    left: 901px;
    position: absolute;
    top: 1943px;
    width: 348px;
  }
  
  .element .image-6 {
    height: 273px;
    left: 39px;
    object-fit: cover;
    position: absolute;
    top: 38px;
    width: 273px;
  }
  
  .element .overlap-17 {
    background-color: #d4e5ff;
    height: 348px;
    left: 1304px;
    position: absolute;
    top: 1943px;
    width: 348px;
  }
  
  .element .image-7 {
    height: 273px;
    left: 32px;
    object-fit: cover;
    position: absolute;
    top: 38px;
    width: 273px;
  }
  
  .element .group-10 {
    height: 113px;
    left: 117px;
    position: absolute;
    top: 2308px;
    width: 333px;
  }
  
  .element .group-11 {
    height: 113px;
    left: 117px;
    position: absolute;
    top: 2840px;
    width: 285px;
  }
  
  .element .overlap-18 {
    background-color: #0065ff2b;
    height: 348px;
    left: 95px;
    position: absolute;
    top: 2475px;
    width: 348px;
  }
  
  .element .image-8 {
    height: 273px;
    left: 34px;
    object-fit: cover;
    position: absolute;
    top: 38px;
    width: 273px;
  }
  
  .element .group-12 {
    height: 113px;
    left: 518px;
    position: absolute;
    top: 2308px;
    width: 331px;
  }
  
  .element .group-13 {
    height: 113px;
    left: 928px;
    position: absolute;
    top: 2308px;
    width: 285px;
  }
  
  .element .group-14 {
    height: 113px;
    left: 1328px;
    position: absolute;
    top: 2302px;
    width: 318px;
  }
  
  .element .overlap-wrapper {
    height: 52px;
    left: 1316px;
    position: absolute;
    top: 739px;
    width: 297px;
  }
  
  .element .overlap-19 {
    background-color: #ffffff;
    border: 3px solid;
    border-color: #e1e1e1;
    border-radius: 30.73px;
    height: 52px;
    position: relative;
    width: 295px;
  }
  
  .element .text-wrapper-18 {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 22.5px;
    font-weight: 400;
    left: 46px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10px;
    white-space: nowrap;
  }
  
  .element .vector-5 {
    height: 9px;
    left: 227px;
    position: absolute;
    top: 21px;
    width: 16px;
  }
  